@mixin article{
    padding: 15px ;
    box-shadow:var(--box-shadow);
    margin: 0 15px;
    border-radius: 5px;
    background: var(--box-shadow-container);
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}