
// navbar
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background);
    color: var(--secondary-font-color);
    height: 60px;
    position: sticky;
    top:0;
    z-index: 10;


    .nav-left{
        h1{
            font-size: 3rem;
            transition: font-size 0.3s ease;
        }
    }

    &.scrolled .nav-left h1{
        font-size: 1.5rem;
    }

    .nav-right{
        display: flex;
        align-items: center;
        a{
            margin-left: 20px;
            color: var(--secondary-font-color);

            &:hover{
                filter: brightness(1.1);
            }
        }
    }

}


/* Dark Mode Switch */
.theme-switcher {
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;

    .fas{
        font-size: 20px;
        margin-left: 20px;

        &:hover{
            transform: scale(1.1);
        }
    }
}